body{
    
    grid-column: auto;
    background-color: aqua;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
fieldset{
    
    margin-right: 25px;
    margin-top: 25px;
    background-color: blueviolet;
    padding: 25px;
      
}
